<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>My Milestone Planners</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h1 class = "col-12 text-center">Milestone Planner app</h1>
        </div>

        <div class="row justify-content-center">
            <div class="container">

                <br>
                <h2>{{name}}</h2>

                <a href="/loggedout">Logout</a>
                <br>
                <a href="/IncompletePlanner">Show incomplete milestones</a>
                <br>
                <a href="addmilestone.html">Add new milestone</a>
                <br>
                <a href="editmilestone.html">Edit a milestone</a>
                <br>
                <a href="deletemilestone.html">Delete a milestone</a>

                <br>
                <h3>Current milestones</h3>

                <div>
                    <ol id='milestones'>
                        {{#milestones}}
                        <li>{{name}}
                            <ul>
                                <li>Description: {{description}}</li>
                                <li>Intended due date: {{intendedDueDate}}</li>
                            </ul>
                        </li>
                        {{/milestones}}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>